body {
    font-size: 16px;
}

h1 {
    font-family: sans-serif;
    font-size: 65px;
    color: orange;
}

p {
    font-weight: 600;
    font-size: 3em;
}

li {
    font-style: italic;
    line-height: 50px;
    text-align: center;
    text-decoration: underline;
    color: red;
    background-color: orange;
}

.list-color {
    background-color: rgb(173, 118, 15);
}